;;bb >= v0.35
{:tasks
 {:requires  ([babashka.fs :as fs])
  watch {:task (shell "npx shadow-cljs watch app")}
  compile {:task (shell "npx shadow-cljs compile app")}
  release {:task (shell "npx shadow-cljs release app")}
  ;;updates
  update-npm {:task (shell "npx npm-check-updates -u")}
  update-deps {:task (shell "clojure -Aoutdated -a outdated --write")}
  
  deploy-docs {:task (let [rp "resources/public"
                           html  "index.html"
                           dest "docs"
                           main "js/main.js"]
                      (do
                        (fs/create-dirs (fs/file dest "js"))
                        (fs/copy (fs/file rp html) (fs/file dest  html)  {:replace-existing true})
                        (fs/copy (fs/file rp main) (fs/file dest main){:replace-existing true} )
                        (run! (fn [f] (fs/copy f (fs/file dest (fs/file-name f)) {:replace-existing true})) (fs/glob rp "**.{css}") )
                        nil
                        ,))}
 ;;tailwind 
  prod-css {:task (shell "npm run-script twp")}
  dev-css {:task (shell "npm run-script tw")}
 ;;shadow report
  buildreport {:task (let [date (java.time.LocalDateTime/now)
                           formatter (java.time.format.DateTimeFormatter/ofPattern "yyyy-MM-dd")
                           file (str "buildreport_" (.format date formatter) ".html")]
                       (shell (str "npx shadow-cljs run shadow.cljs.build-report app " file)))}}}
